doctype html
html
  head
    meta(charset="utf8")
    title Pug Parser
    link(href="./css/index.css", rel="stylesheet")
    include partials/head.pug
  body
    h1#title Congratulations on building your website with Parcel
    p Home
    a.link(href="./about.pug") Go to page About
    script(async, src="./js/index.js")

